@import "helpers.scss";

$black: #444;
$white: #fff;

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: 'Lato', 'sans-serif';
}

div.container {
  width: 100%;
}

h1.title {
  height: 70px;
  line-height: 70px;
  font-size: 70px;
  font-weight: 100;
  color: $black;
  text-align: center;
  margin: 0;
}

a.profile {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 100px;
  border: 1px solid $black;
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    @include transition(opacity .2s linear);
    &.avatar { @include opacity(1); }
    &.real { @include opacity(0); }
  }

  &:hover {
    img {
      &.avatar { @include opacity(0); }
      &.real { @include opacity(1); }
    }
  }
}

div.name {
  color: $black;
  text-align: center;
  font-size: 27px;
}

div.description {
  color: $black;
  text-align: center;
  font-size: 17px;
  margin-top: 7px;
}

div.hello {
  color: $black;
  text-align: center;
  font-size: 17px;
  margin-top: 7px;
  span.heart {
    color: #e74c3c;
  }
}

div.contacts {
  text-align: center;
  margin-top: 13px;
  padding-bottom: 50px;

  a.contact, a.contact:visited {
    display: inline-block;
    font-size: 20px;
    color: $black;
    text-align: center;
    text-decoration: none;
    line-height: 29px;
    height: 30px;
    border: 1px solid $black;
    padding: 0 9px;
    border-radius: 15px;
    margin: 2px;
    @include transition((background-color .1s linear, color .1s linear));

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}
