$mobile-portrait: "screen and (max-device-width: 480px) and (orientation: portrait)";
$mobile-landscape: "screen and (max-device-width: 640px) and (orientation: landscape)";

@mixin browser-specific-transition($t) {
  transition: #{$t};
  -webkit-transition: -webkit-#{$t};
  -moz-transition: -moz-#{$t};
  -o-transition: -o-#{$t};
  -ms-transition: -ms-#{$t};
}

@mixin transition($t) {
  transition: $t;
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
  -ms-transition: $t;
}

@mixin transform($t) {
  transform: $t;
  -webkit-transform: $t;
  -moz-transform: $t;
  -o-transform: $t;
  -ms-transform: $t;
}

@mixin opacity($value) {
  $IEValue: $value * 100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}
