@import 'helpers.scss';

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0;
  background-color: white;
  @include opacity(0.7);

  @media #{$mobile-portrait} { height: 40px; }
  @media #{$mobile-landscape} { height: 40px; }

  div.nav-contents {
    width: 800px;
    margin: 0 auto;
    @media #{$mobile-portrait} { width: 100%; }
    @media #{$mobile-landscape} { width: 100%; }
  }

  a.link-button, a.link-button:visited {
    display: block;
    float: left;
    font-family: Lato, 'sans-serif';
    color: $black;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    @include box-sizing(border-box);

    &:hover {
      border-bottom: 5px solid $black;
      @media #{$mobile-portrait} { border-bottom: none; }
      @media #{$mobile-landscape} { border-bottom: none; }
    }

    @media #{$mobile-portrait} { height: 40px; line-height: 40px; }
    @media #{$mobile-landscape} { height: 40px; line-height: 40px; }
  }
}
