$black: #444;
$white: #eee;

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'sans-serif';
  -webkit-font-smoothing: subpixel-antialiased;
}

@import 'navigation.scss';

#content {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 60px;
  visibility: hidden;

  div.info {
    h1.title {
      margin: 0;
    }

    div.datetime {
      color: #666;
      font-size: 17px;
    }

    div.tags {
      margin-top: 3px;
      a.tag {
        color: #666;
        text-decoration: none;
        font-size: 20px;
        margin-right: 10px;

        &:visited {
          color: #666;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  div.content {
    margin: 25px 0;
    @import 'markdown.scss';
  }

  @media #{$mobile-portrait} {
    width: 100%;
  }

  @media #{$mobile-landscape} {
    width: 100%;
  }
}

html.wf-active #content {
  visibility: visible;
}
