@import 'base.scss';
@import 'navigation.scss';
@import 'content.scss';
@import 'footer.scss';

#content {
  div.info {
    h1.title {
      margin: 0;
    }

    div.datetime {
      color: #666;
    }

    div.tags {
      margin-top: 3px;
      a.tag {
        color: #666;
        text-decoration: none;
        margin-right: 10px;
        display: inline-block;

        &:visited {
          color: #666;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  div.content {
    margin: 25px 0;
    @import 'markdown.scss';
  }
}
