$black: #444;
$white: #eee;

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'sans-serif';
  -webkit-font-smoothing: subpixel-antialiased;
}

@import 'navigation.scss';

#content {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 60px;
  visibility: hidden;

  div.tag-title {
    font-size: 60px;
  }

  div.tagcloud {
    margin-top: 20px;

    a.tag {
      color: black;
      text-decoration: none;
      display: inline-block;
      margin-right: 20px;

      &:visited {
        color: black;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media #{$mobile-portrait} {
    width: 100%;
  }

  @media #{$mobile-landscape} {
    width: 100%;
  }
}

html.wf-active #content {
  visibility: visible;
}
