@import 'base.scss';
@import 'navigation.scss';

#content {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 60px;
  visibility: hidden;

  div.tag-title {
    font-size: 60px;
  }

  div.tagcloud {
    margin-top: 20px;

    a.tag {
      color: black;
      display: inline-block;
      margin-right: 20px;

      &:visited {
        color: black;
      }
    }
  }

  @media #{$mobile-portrait} {
    width: 100%;
  }

  @media #{$mobile-landscape} {
    width: 100%;
  }
}

html.wf-active #content {
  visibility: visible;
}
