doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    title noraesae

    link(rel='shortcut icon', href='/images/profile.png')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:100,300')
    link(rel='stylesheet', type='text/css', href='/css/about.css')

  body
    div.container#Container
      h1.title noraesae
      a.profile(href='#')
        img.avatar(src='/images/profile.png', alt="It's me!")
        img.real(src='/images/about-profile.jpg', alt="It's me!")
      div.name Hyeonje Alex Jun
      div.description Developer. Subcurturist. Computer Science @ Yonsei Univ.
      div.hello I <span class='heart'>♥</span> JavaScript, Scala and many other things!
      div.contacts
        a.contact(href='http://noraesae.net') blog
        a.contact(href='http://twitter.com/noraesae') twitter
        a.contact(href='http://github.com/noraesae') github
        a.contact(href='https://medium.com/@noraesae') medium
        a.contact(href='http://yuiazu.net') tumblr
        a.contact(href='mailto:me@noraesae.net') mail
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/about.js')
