doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    title noraesae

    link(rel='shortcut icon', href='/images/profile.png')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:100,300')
    link(rel='stylesheet', type='text/css', href='/css/about.css')

  body
    div.container
      h1.title noraesae
      a.profile(href='#')
        img(src='/images/profile.png', alt="It's me!")
      div.name Hyeonje Alex Jun
      div.icons
        a.icon(href='http://noraesae.net')
          i.fa.fa-terminal
          span Dev
        a.icon(href='http://twitter.com/noraesae')
          i.fa.fa-twitter
          span Twitter
        a.icon(href='http://github.com/noraesae')
          i.fa.fa-github
          span Github
        a.icon(href='http://yuiazu.net')
          i.fa.fa-tumblr
          span Tumblr
        a.icon(href='mailto:me@noraesae.net')
          i.fa.fa-envelope
          span Dev
