doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    title Tags

    link(rel='shortcut icon', href='/images/profile.png')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/tags.css')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Lato:900,300')

  body
    include ../../common/navigation.jade
    div#content
      h2.tag-title Tags
      div.tagcloud
        each tag in getTagCloud()
          a.tag(href='#{tag.url}', style='font-size: #{tagWeightToFontSize(tag.weight)}px')= tag.tag
    include ../../common/footer.jade

    script(src='/js/jquery-1.11.1.min.js')
