doctype html
html
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

  title noraesae

  link(rel='shortcut icon', href='/images/profile.png')
  link(rel='stylesheet', type='text/css', href='/css/normalize.css')
  link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:100,300')
  link(rel='stylesheet', type='text/css', href='/css/index.css')

  body
    p Under Construction
