footer.footer
  p Crafted with <span class='heart'>♥</span> by <a href="http://noraesae.net">Hyeonje Alex Jun</a> (<a href="https://twitter.com/noraesae">@noraesae</a>)
  p &lt;/&gt; available on <a href="https://github.com/noraesae/blog">GitHub</a>
  p Strongly inspired by <a href="https://github.com/johnotander/pixyll">Pixyll</a>
