div#navigation
  div.nav-contents
    div(style='float: left; height: 0;')
      a.link-button(href='/') HOME
    div(style='float: right; height: 0;')
      a.link-button(href='/about') ABOUT
      a.link-button(href='/tags') TAGS
      a.link-button(href='/projects') PROJECTS
      //a.link-button(href='/rss.xml') RSS
