div#navigation
  div.nav-contents
    div(style='float: left; height: 0;')
      a.link-button.home(href='/') HOME
    div(style='float: right; height: 0;')
      a.link-button.tags(href='/about') ABOUT
      a.link-button.tags(href='/tags') TAGS
      a.link-button.rss(href='/rss.xml') RSS
