div.projects
  a.title(href='../TutorFox/')
    h2 TutorFox
  a.title(href='../cetys-api/')
    h2 cetys-api
  a.title(href='../Calculator/')
    h2 Calculator
  a.title(href='../OsEmulator/')
    h2 OsEmulator
  a.title(href='../compiler/')
    h2 Compiler
